{% extends "layout.html" %}

{% block body %}
  <h2>Your own players</h2>
  <h3>Edit your players</h3>
  <table>
    <tr>
      <th>Player to edit</th>
      <th></th>
      <th>Role to edit</th>
      <th></th>
      <th>Choose status</th>
      <th></th>
      <th>Change status</th>
      <th></th>
      <th>Remove player</th>
    </tr>
    <form method="POST" action="{{ url_for('player_edit') }}">
    <tr>
      <td> {{ form.player }} </td>
      <th></th>
      <td> {{ form.role }} </td>
      <th></th>
      <td> {{ form.play }} </td>
      <th></th>
      <td>
        <input type="submit" name="btn" value="Change"/>
      </td>
      <th></th>
      <td>
        <input type="submit" name="btn" value="Remove player"/>
      </td>
    </tr>
    </form>
    <tr></tr>
    <tr>
      <th>Player tag</th>
      <th></th>
      <th>Top</th>
      <th></th>
      <th>Jungle</th>
      <th></th>   
      <th>Middle</th>
      <th></th>
      <th>ADC</th>
      <th></th>
      <th>Support</th>
    </tr>
    {% for player in own_players %}
    <tr>
      <td>{{ player.player_tag }}</td>
      <td></td>
      <td>{{ player.top }}</td>
      <td></td>
      <td>{{ player.jgl }}</td>
      <td></td>
      <td>{{ player.mid }}</td>
      <td></td>
      <td>{{ player.adc }}</td>
      <td></td>
      <td>{{ player.sup }}</td>
      <th></th>
    </tr>
    {% endfor %}

  </table>
  
  <h3>Which role you want to see?</h3>
  <table>
    <tr>
      <td><a href="{{ url_for('players_index') }}">List all players</a></td>
      <th></th>
      <td><a href="{{ url_for('players_index_top') }}">List top players</a></td>
      <th></th>
      <td><a href="{{ url_for('players_index_jgl') }}">List jungle players</a></td>
      <th></th>
      <td><a href="{{ url_for('players_index_mid') }}">List mid players</a></td>
      <th></th>
      <td><a href="{{ url_for('players_index_adc') }}">List adc players</a></td>
      <th></th>
      <td><a href="{{ url_for('players_index_sup') }}">List support players</a></td>
    </tr>
  </table>
  
  <h2>Players</h2>
  <table>
    <tr>
      <th>Player tag</th>
      <th></th>
      <th>Top</th>
      <th></th>
      <th>Jungle</th>
      <th></th>
      <th>Middle</th>
      <th></th>
      <th>ADC</th>
      <th></th>
      <th>Support</th>
    </tr>
    {% for player in players %}
    <tr>
      <td> {{ player.player_tag }} </td>
      <th></th>
      <td> {{ player.top }} </td>
      <th></th>
      <td> {{ player.jgl }} </td>
      <th></th>
      <td> {{ player.mid }} </td>
      <th></th>
      <td> {{ player.adc }} </td>
      <th></th>
      <td> {{ player.sup }} </td>
    <tr>
    {% endfor %}
{% endblock %}

