{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{url_for('account_create') }}">
  <table>
    <tr>
      <td>     
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        {% for error in form.name.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.username.label}}
      </td>
      <td>
        {{ form.username }}
      </td>
      <td>
        {% for error in form.name.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
      <td>
        {% for error in form.password.errors %}
        <li> {{ error }} </li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Register an account"/>
      </td>
    </tr>
  </table>

{% endblock %}
